.Campuses, .Students {
  float: right;
  padding-right: 5px;
}

/* .campuses-view {
  display: flex;
  flex-wrap: wrap;
} */

.campus-card, .student-card {
  width: 500px;
  margin: 20px;
}

.campus-card img, .student-card img{
  width: 300px;
}

span {
  padding-left: 5px;
}

.Links {
  background-color: darkgray;
  padding: 5px;
  width: 500px;
  margin: auto;
  font-size: 20px;
}

a {
  color: black;
}